* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  color: #4C4C4C;
  font-size: 15px;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0.06em;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Georgia", serif;
  color: #545454;
  font-size: 35px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  line-height: 1.15;
}

a {
  color: #CDCDCD;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:focus, a:active {
  outline: none;
}

p {
  font-family: "Arial", sans-serif;
  color: #CDCDCD;
  line-height: 1.6;
}

ul {
  list-style: none;
}

button {
  color: #292929;
  display: inline-block;
  -webkit-transition: all 0.35 ease-in-out;
  transition: all 0.35 ease-in-out;
  border: none;
  font-family: "Georgia", serif;
  cursor: pointer;
  color: #292929;
  font-size: 17px;
  line-height: 1.3;
}

button:hover {
  text-decoration: underline;
}

.header {
  width: 100%;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  position: fixed;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}